.body {
	height: auto;
	width: 95%;

}

/*Start.html*/
h3 {
	color: red;
}



#frame {
	width: 40%;
	height: 300px;
	background-color: lightgrey;
	padding: 2%;
	padding-top: 100PX;
	position: relative;
	left: 25%;
	top: 150px;
	padding-bottom: 100px;
}

#title {
	font-family: sans-serif;
	position: relative;
	left: 30%;
	top: -20px;
}

#buttons {
	display: flex;
	width: 100%;
}


#img2,
#img1,
#img3 {
	width: 100%;
	height: 100px;
	/*	background-color: green;*/
	float: left;
	margin: 10%;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	text-align: center;
	position: relative;
	overflow: hidden;
	border: 1px solid black;
}



/*ForumPage.html*/

.grid {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 15% 85%;
	margin: 25px auto;
	width: 100%;
	height: 900px;
}

.header {}

.sidebar1,
.sidebar2,
.header {
	border: solid 1px black;
	overflow: hidden;
}

.sidebar2 {
	grid-column-start: 1;
	grid-column-end: 4;
	text-align: center;
	top: 30px;
	position: relative;
}

.post,
.login,
.information,
.check,
.signup {
	float: left;
	height: 75px;
	width: 15%;
	border: solid black 2px;
	display: flex;
	flex-direction: row;
	margin-left: 3.8%;
	margin-top: 20px;
}

/*Emergency Page*/



#frame-e {
	width: 50%;
	height: 300px;
	background-color: lightgrey;
	padding: 2%;
	padding-bottom: 200PX;
	position: relative;
	left: 25%;
	top: 150px;
}

#title2 {
	font-family: sans-serif;
	top: 100%;
	left: 34%;
	position: relative;
	font-size: 20px;

}

#title3 {
	font-family: sans-serif;
	left: 37%;
	position: relative;
	top: -140px;
	font-size: 20px;
}

#factsbutton {
	width: 150px;
	height: 70px;
	border: 2px solid black;
	position: relative;
	top: 200px;
	left: 40%;
	text-align: center;

}

#emergency {
	background-color: lightgrey;
	width: 400px;
	height: 40px;
	color: blue;
	font-size: 20px;
	position: relative;
	top: -70px;
	left: 10%;
}

/*Login Page*/

#titlel {
	font-family: sans-serif;
	position: relative;
	left: 40%;
	top: -20px;
}

#user,
#pass,
#userbox,
#passbox {
	position: relative;
	top: 0px;
	left: 90px;
}

#user,
#pass {
	margin-top: 7%;
	font-size: 20px;
	color: white;
}

#userbox,
#passbox {
	background-color: white;
	width: 300px;
	height: 40px;

}

/*ForumPage*/

#window {

	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 3;
}

#latest,
#health,
#finiancial,
#information2 {
	margin: 20px auto;
	left: 2%;
	border: 1px solid black;
	height: auto;
	width: 100%;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;

}

#information2 {
	grid-column-start: 1;
	grid-column-end: 5;
}


@media screen and (max-width:700px) {
	#title {
		left: 15%;
		width: 30%;
	}

	#img2,
	#img1 {
		width: 60%;
		height: 75px;
		background-color: green;
		float: left;
		margin: 20%;
		margin-top: 1px;
		margin-bottom: 20px;
		display: flex;
		text-align: center;

	}

	#frame {
		height: 400px;

	}
}
